#dice {
  position: fixed;
  top: 30%;
  left: 30%;
  z-index: 10;
  transform-style: preserve-3d;
  perspective: 5rem;

  .dice {
    position: relative;
    transform-style: preserve-3d;
    width: 1rem;
    height: 1rem;
    transition: all 1s ease;
    transform-origin: center center;
    transform: rotateX(110deg) rotateY(-30deg) rotateZ(170deg);

    &.dice_1 {
      transform: rotateX(110deg) rotateY(-30deg) rotateZ(170deg);
      .diceFace:nth-child(1){
        background-color: rgba(0, 92, 104,.7);
        box-shadow: 0 0 0.1rem 0.03rem rgba(126, 243, 214, 0.7);
      }
    }

    &.dice_2 {
      transform: rotateX(110deg) rotateY(-30deg) rotateZ(80deg);
      .diceFace:nth-child(2){
        background-color: rgba(0, 92, 104,.7);
        box-shadow: 0 0 0.1rem 0.03rem rgba(173, 255, 234, 0.7);
      }
    }

    &.dice_3 {
      transform: rotateX(20deg) rotateY(10deg) rotateZ(60deg);
      .diceFace:nth-child(3){
        background-color: rgba(0, 92, 104,.7);
        box-shadow: 0 0 0.1rem 0.03rem rgba(173, 255, 234, 0.7);
      }
    }

    &.dice_4 {
      transform: rotateX(-160deg) rotateY(-20deg) rotateZ(110deg);
      .diceFace:nth-child(4){
        background-color: rgba(0, 92, 104,.7);
        box-shadow: 0 0 0.1rem 0.03rem rgba(173, 255, 234, 0.7);
      }
    }

    &.dice_5 {
      transform: rotateX(110deg) rotateY(-30deg) rotateZ(-100deg);
      .diceFace:nth-child(5){
        background-color: rgba(0, 92, 104,.7);
        box-shadow: 0 0 0.1rem 0.03rem rgba(173, 255, 234, 0.7);
      }
    }

    &.dice_6 {
      transform: rotateX(110deg) rotateY(-30deg) rotateZ(-10deg);
      .diceFace:nth-child(6){
        background-color: rgba(0, 92, 104,.7);
        box-shadow: 0 0 0.1rem 0.03rem rgba(173, 255, 234, 0.7);
      }
    }

    // animation: diceTurning 5s linear infinite;
    .diceFace {
      font-family: 'digital-figure';
      width: 1rem;
      height: 1rem;
      background-color: transparent;
      border-radius: 0.2rem;
      background-image: linear-gradient(transparent, rgba(0, 92, 104, 0.7));
      text-shadow: 0 0 0.1rem rgba(202, 255, 242, 0.9);
      box-shadow: 0 0 10px rgba(173, 255, 234, 0.7) inset;
      // backdrop-filter: blur (2px); //backdrop-filter与父元素的animation冲突,原因未知,但是父元素的transform可以正常显示(可能和translateZ有关)
      position: absolute;
      top: 0;
      left: 0;
      transition: all 1s ease;
      p {
        color: rgba(208, 255, 243, 0.9);
        font-size: 1rem;
        margin-top: 0.1rem;
      }

      &:nth-child(1) {
        transform: rotateX(90deg) translateZ(0.55rem) rotateZ(180deg);

        p {
          margin-right: 0.5rem;
        }
      }

      &:nth-child(2) {
        transform: rotateY(90deg) translateZ(0.55rem) rotateZ(-90deg);
      }

      &:nth-child(3) {
        transform: rotateZ(90deg) translateZ(0.55rem) rotateZ(180deg);
      }

      &:nth-child(4) {
        transform: rotateZ(-90deg) translateZ(-0.55rem) rotateX(180deg);
      }

      &:nth-child(5) {
        transform: rotateY(-90deg) translateZ(0.55rem) rotateZ(90deg);
      }

      &:nth-child(6) {
        transform: rotateX(90deg) translateZ(-0.55rem) rotateY(180deg) rotateZ(180deg);
      }
    }
  }
}


// @keyframes diceTurning{
//   0%{
//     transform: rotate3d(1, 1, 1, 0deg);
//   }
//   100%{
//     transform: rotate3d(1, 1, 1, 360deg);
//   }
// }