.index {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  perspective: 500px;
  transform-style: preserve-3d;
  background-image: url("../../assets/bg.jpeg");
  background-size: 120% 100%;
  background-position: 20% 0%;
  filter: blur(2px) brightness(50%) saturate(200%);
}
.index img {
  width: 200%;
  height: 200%;
  transform: rotateX(10deg) rotateY(10deg) rotateZ(10deg);
}
#player {
  width: 100px;
  height: 100px;
  position: fixed;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}
