.test {
  width: 100vw;
  max-width: 204.91vh;
  height: 100vh;
  max-height: 48.8vw;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: hidden;
  background-image: url("../../assets/bg.jpeg");
  background-size: 120% 100%;
  background-position: 20% 0%;
}
