html{
  font-size: 5.208vw ;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently not supported by any browser */
}

@font-face {
  font-family: "tec";
  src: url("../assets/fontStyle/Audiowide-Regular.ttf")
}

@font-face {
  font-family: "coke";
  src: url("../assets/fontStyle/Coca-Cola.ttf")
}

@keyframes pulsate{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.05);
  }
  100%{
    transform: scale(1);
  }
}
