#character {
  position: absolute;
  top: 50%;
  left: 30%;
}
#character .character {
  position: absolute;
  top: 0;
  left: 0;
  filter: sepia(100%) hue-rotate(180deg) drop-shadow(0 0 0.1rem #fff8) saturate(2);
}
#character .character .head {
  position: absolute;
  bottom: 1rem;
  left: 0;
  width: 1.3rem;
  height: 1.3rem;
  background-image: url(../../assets/ava.png);
  background-size: 100% 100%;
  transform-origin: bottom;
  transform: rotateZ(15deg);
}
#character .character .bodyTop {
  position: absolute;
  bottom: 1rem;
  left: 0;
  width: 1.3rem;
  height: 1rem;
  background-color: yellow;
  transform-origin: bottom;
  transform: rotateZ(-10deg);
}
#character .character .bodyTop .armLeftBehind {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.3rem;
  height: 1rem;
  background-color: green;
  transform: rotateZ(45deg);
  transform-origin: left top;
}
#character .character .bodyTop .armLeftBehind .armLeftFront {
  position: absolute;
  top: 1rem;
  left: 0;
  width: 0.3rem;
  height: 1rem;
  background-color: blue;
  transform: rotateZ(-45deg);
  transform-origin: left top;
}
#character .character .bodyTop .armRightBehind {
  position: absolute;
  top: 0;
  right: 0;
  width: 0.3rem;
  height: 1rem;
  background-color: orange;
  transform: rotateZ(-45deg);
  transform-origin: right top;
  z-index: -1;
}
#character .character .bodyTop .armRightBehind .armRightFront {
  position: absolute;
  top: 1rem;
  right: 0;
  width: 0.3rem;
  height: 1rem;
  background-color: gray;
  transform: rotateZ(45deg);
  transform-origin: right top;
}
#character .character .bodyBottom {
  position: absolute;
  top: -1rem;
  left: 0;
  width: 1.3rem;
  height: 1rem;
  background-color: red;
  transform-origin: top;
  transform: rotateZ(10deg);
}
#character .character .legLeftBehind {
  position: absolute;
  top: 0;
  left: 0.8rem;
  width: 0.5rem;
  height: 1rem;
  background-color: purple;
  transform-origin: left top;
  transform: rotateZ(20deg);
}
#character .character .legLeftBehind .legLeftFront {
  position: absolute;
  top: 1rem;
  left: 0;
  width: 0.5rem;
  height: 1rem;
  background-color: aqua;
  transform-origin: left top;
  transform: rotateZ(-20deg);
}
#character .character .legRightBehind {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.5rem;
  height: 1rem;
  background-color: brown;
  transform-origin: right top;
  transform: rotateZ(20deg);
}
#character .character .legRightBehind .legRightFront {
  position: absolute;
  top: 1rem;
  left: 0;
  width: 0.5rem;
  height: 1rem;
  background-color: pink;
  transform-origin: right top;
  transform: rotateZ(-20deg);
}
#character .character:first-child {
  filter: none;
}
